p, a, li, h1, h2, h3, h4, h5, label {
    
    font-family: "helvetica", "arial", sans-serif;
    font-size: 16px;
    color: #25a5e5;
    font-style:normal;
    text-decoration: none;
    text-align: left;
}
a {
    transition: color .2s ease-out;
}
a.show {
    color: #e5901a;
}
a:hover {
    color: #e5901a;
    text-decoration: underline;
}
header img{
    margin: 0;
    padding-left: 1%;
    float: left;
}
#logoDiv {
    background-image: url(Images/logo100.gif);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    height: 100px;
}

#title h1 {
    margin-top: 8px;
    font-size: 23px;
    margin-bottom: 0;
    text-transform: uppercase;
/*    float: left;*/
}
#title h2 {
    color: #4f829e;
    text-transform: uppercase;
/*    float: left;*/
    margin-right: 60px;
}
html {
    background: #363636;
    height: 100%;
    width: 100%;
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;
    min-width: 365px;
}
nav {
    
}
header {
    padding-top: 45px;
}
body {
    min-height: 100%;
    padding-bottom: 100px;
    box-sizing:border-box;
    position: relative;
}
#main {
    background: #464646;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 10px;
}
#tall {
/*height: 2000px; */
}
nav ul {
    float: right;
    padding: 0;
}
nav ul li {
    float: left;
    list-style: none;
/*    line-height: 100px;*/
    margin-left: 15px;
    text-align: right;
    
}
header nav ul li {
    text-transform: uppercase;
}
footer{
    
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-left:
}
footer p {
    font-size: 14px;
}
#horizLine{
    
    height: 1px;
    background: #4f829e;
}
a.fill {
    display: block;
    height: 100%;
    width: 100%;
}
.mainpagecontentbox{
    margin-top: 3%;
    margin-bottom: 3%;
/*    height: 30vw;*/
    box-sizing:border-box;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    
}
.profile {
    height: auto;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}
.galleryDiv{
    overflow: hidden;
}
.galleryimg{
    height: 100%;
}
.maincontent{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0;
}
.middle{
    margin-top: 3%;
    margin-bottom: 3%;
}
.border, .staticborder {
    transition: border-color 0.5s ease;
    border: 4px solid #25a5e5;
}
div.border:hover{
    border-color: #e5901a;
}
article {
/*    background: #4f829e;*/
    background: #363636;
    padding: 20px;
}
article h1{
    padding: 0px 0 10px;
    margin: 0;
}

article p, article h2, article ul {
    padding: 10px 0 10px;
    margin: 0;
/*    color: #363636;*/
}
article ul{
    margin-left: 40px;
}

.center-cropped {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
    
}
form{
    padding: 20px;
}
form label {
    text-align: right;
    float: left;
    width: 25%;
}
form div {
    padding-bottom: 20px;
}
input, textarea{
    box-sizing: border-box;
    width: 50%;
    padding: 0;
    margin: 0;
}
#submit {
    width: 25%;
}
@media screen and (max-width: 900px){
    .mainpagecontentbox  {
        width: 80.81%;
        margin-right: 2%;
        
    }
    
    
    #homepagemiddle {
        width: 8.09%;
    }
    header nav.col4{
        padding-left: 9.09%;
        width: 80.81%;
    }
    header nav ul {
        width: 100%;
    }
    header nav ul li {
        width: 25%;
        padding: 0;
        margin: 0;
        text-align: center;
        
    }
    header nav ul a {
        font-size: 18px;
    }
    #logoDiv {
        width: 17.18%;
    }
    #title {
        width: 62.63%;
    }
    #title h1 {
        float: right;
        text-align: right;
        font-size: 30px;
    }
    #title h2 {
        float: right;
        padding-left: 30px;
        margin-right: 0;
    }
    div.galleryDiv{
        width: 47.25%;
        padding: 0;
        margin: 0;
        margin-left: 1%;
    }
    div.delete{
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
    div.expand {
        width: 98.9%;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 460px){
    #logoDiv {
        width: 81.5%;
        height: 300px;
        
    }
    #title {
        clear: both;
        width: 81.5%;
        float: none;
        margin-left: 8.25%;
        height: auto;
    }
    #title h1{
        margin: 0;
        font-size: 50px;
        text-align: center;
        float: none;
        clear: both;
    }
    #title h2 {
        width: 100%;
        margin: 0;
        font-size: 24px;
        text-align: center;
    }
    header nav.col4 {
        width:100%;
        margin: 0;
        padding: 0;
        padding-left: 10%;
    }
    header nav ul {
        padding: 0;
        float: left;
        width: 100%;
    }
    header nav ul li {
        padding-top: 20px;
        float: left;
        padding-left: 0;
        text-align: center;
        width: 50%;
        margin-left: 0;
        
    }
    header nav a {
        font-size: 28px;
    }
}